.page-header {
  background-color: var(--primary-bt-color);
  border-bottom: 1px solid var(--border);
}

.header__navigation {
  display: flex;
  align-items: center;
}
.header-tab {
  display: flex;
  justify-content: space-between;
}
.list {
  list-style: none;
}

.menu__item .menu__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  &:focus,
  &:hover {
    color: var(--accent-color);
  }

  &.current {
    color: var(--fone-bt-color);
  }
}

.header__menu.list {
  display: flex;
  gap: 50px;
}
.header__menu {
  @media screen and (max-width: 480px) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

}
.header__menu .menu__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}
.menu__link.current::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  bottom: -1px;
  left: 0;
  background: #2196f3;
  border-radius: 2px;
}

.header__conteiner {
  display: flex;
  align-items: center;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    justify-content: space-between;
  }
}
.menu-open {
  margin-left: auto;
  width: 40px;
  height: 40px;
  background: var(--primary-bt-color);
  border: 1px transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @media screen and (min-width: 481px) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  &:focus,
  &:hover {
    fill: var(--primary-bg-color);
  }
}
.menu-close {
  position: absolute;
  margin-top: 10px;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  background: var(--primary-bt-color);
  border: 1px transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:focus,
  &:hover {
    fill: var(--primary-bg-color);
  }
}
.conteiner.menu-close {
  position: relative;
}
.menu {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 300ms linear;
}
.mob-menu {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-bt-color);
  position: fixed;
  z-index: 1;
}
.header-mob-menu {
  display: flex;
  margin-left: 25px;
  margin-top: 48px;
  flex-direction: column;
}
.menu-mob.link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}
.menu-mob {
  display: flex;
  margin-bottom: 32px;
}
.menu-mob.link:focus,
.menu-mob.link:hover {
  color: var(--accent-color);
}
.header-mob-conntacs {
  margin-bottom: 32px;
  margin-left: 25px;
}
.conntacs-tell-mob-link {
  display: flex;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 32px;
}

.conntacs-mob-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.mob-soc {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
}
.mob-soc-item {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
  list-style: none;
  align-items: center;
}
.mob-soc-item::after {
  content: '';
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
.mob-soc-item:last-child:after{
  content: '';
  border:transparent
}