.menu__item {
    position: relative;
}

.item-mail .conntacs__link:focus,
.item-mail .conntacs__link:hover {
    color: var(--accent-color);
}

.item-tell .conntacs__link:hover,
.item-tell .conntacs__link:focus {
    color: var(--accent-color);
}